*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(145, 133, 26);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: round;
    
}
.control_back {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
   
}

.play_back {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.658);
    margin-top: 10px;   
    border-bottom: solid .5vw rgb(73, 125, 12);
    border-top: solid .5vw rgb(73, 125, 12);
    box-sizing: border-box;
    justify-content: space-around;
}
#terminal {
    font-size: 14vw;
    color: rgb(129, 129, 129);
}

.play {
    width: 50%;
    height: 9vw;
    /* border: solid 0.5vw rgba(128, 128, 128, 0.461); */
    border-radius: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    margin-left: -1.5vw;

}
.spid {
    position: relative;
    width: 10vw;
    height: 5vw;
    border-radius: 5vw 5vw 1vw 1vw;
    background-color: rgba(100, 170, 100, 0.62);
    border: solid .5vw green;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
.spidCenter {
    
  
    transform: rotate(-45deg);
    position: absolute;
    top: 1vw;
}
.spidCenter2 {
    width: 1vw;
    height: 1vw;
   
    transform: rotate(0deg);
    position: absolute;
    top: 4vw;
}
.spidPoint {
    width: .5vw;
    height: .5vw;
    background-color: rgb(237, 139, 35);
    border-radius: 1vw;
    margin-bottom: 10vw;
}
.Spid {
    position: absolute;
    width: .5vw;
    border-radius: 1vw;
    height: 4vw;
    background-color: red;
    top: -3.5vw;
    margin-left: .2vw;
}
#play_span {
    font-size: 15vw;
    color: rgb(83, 139, 104);
}

.function_back {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

.function_name {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: green;
    border-radius: 1vw 0 0 1vw ;
    border: solid .5vw green;
    box-sizing: border-box;
    font-size: 5vw;
}

.f_back {
    width: 10vw;
    height: 10vw;
    box-shadow: inset 0 0 2px 1px rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed .5vw green;
    box-sizing: border-box;
    background-color: black;
}


.controls_back {
    width: 50vw;
    height: 50vw;
    border: solid .5vw rgb(25, 92, 12);
    margin: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2vw 0 2vw;
}
.c_back {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vw;
    border: 0.5vw solid black;
}

#c_icon {
    color: black;
    font-size: 8vw;
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 1vw;
    border: solid 0.5vw gray;
    
}

.c_back2 {
    width: 9vw;
    height: 9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vw;
    border: 0.5vw solid black;
}

#c_icon2 {
    color: black;
    font-size: 6vw;
    background-color: aliceblue;
}

#c_icon3 {
    width: 94%;
    height: 94%;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
}
#c_icon4 {
    width: 7vw;
    height: 7vw;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: .5vw;
    border: solid .5vw gray;
    border-radius: 1vw;
    background-color: white;
}

#stop {
    font-size: 8vw;
    color: red;
    margin-right: 2vw;
    border: solid .5vw rgb(60, 174, 15);
    border-radius: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}