
* {
    margin: 0;
    padding: 0;
}

.next {
    position: absolute;
    top: 0;
    z-index: 1000;
}

.game {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.755);
    z-index: 1;
    clip-path: calc(100px 100px center);
}
.control {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(189, 207, 34, 0.755);
    z-index: 1;
}